.vehicle-add-pop {
  position: fixed;
  top: -100%;
  left: 50%;
  width: 60vw;
  height: auto;
  max-height: 80vh;
  transform: translateX(-50%) translateY(-50%);
  z-index: 9999;
  background: #fff;
  transition: 0.7s;
}

.vehicle-add-pop.open {
  top: 50%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  background: #00000066;
  width: 100%;
  height: 100%;
}
